{% extends "base.html" %}

{# HEADER SECTION #}
{% block title %} Home Page {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="css/home.css">
{% endblock %}

{# BODY SECTION #}
{% block content %}

<div class="content-container">

    <div class="content-container-left">
        <div class="content-container-left-top">
            <h3>Best experiment</h3>
            
            <div class="content-container-left-top-body">
                
            </div>
        </div>
    </div>
    <div class="content-container-right">
        Right        
    </div>

</div>

{% endblock %}